{
    "datatypeName": "sample-csv",
    "columnVisibility": "private",
    "separatorCharacter": ",",
    "header": [
        "cola",
        "colb",
        "colc"
    ],
    "indexFields": [
        "cola",
        "colb",
        "colc"
    ],
    "skipHeaderRow": "true"
}